global:
  smtp_smarthost: {{ prometheus_smtp_smarthost }}
  smtp_from: {{ prometheus_smtp_from }}
  smtp_auth_username: {{ prometheus_smtp_auth_username }}
  smtp_auth_password: {{ prometheus_smtp_auth_password }}


templates:
  - '/etc/alertmanager/template/*.tmpl'

route:
  receiver: {{ prometheus_alertmanager_default_receiver }}
  routes:
{% for k,v in prometheus_alertmanager_routes.iteritems() %}
    - match:
        severity: {{ k }}
      continue: true
      receiver: {{ v }}
{% endfor %}

receivers:
{% for k,v in prometheus_alertmanager_receivers.iteritems() %}
  - name: {{ k }}
    email_configs:
      - to: {{ v }}
{% endfor %}
