global:
  smtp_smarthost: {{ prometheus_smtp_smarthost }}
  smtp_from: {{ prometheus_smtp_from }}
  smtp_auth_username: {{ prometheus_smtp_auth_username }}
  smtp_auth_password: {{ prometheus_smtp_auth_password }}


templates:
  - '/etc/alertmanager/template/*.tmpl'

route:
  receiver: mail
  routes:
    - match:
        severity: critical
      continue: true
      receiver: mail
receivers:
{{ prometheus_alertmanager_receivers | to_nice_yaml(indent=2) }}
