version: '2'
services:
{% if prometheus_install_alert_manager|bool %}
  alertmanager:
    container_name: alertmanager
    image: {{ prometheus_alertmanager_image_name }}:{{ prometheus_alertmanager_image_version }}
    ports:
      - "9093:9093"
    volumes:
      - {{ prometheus_alertmanager_conf_dir }}:/etc/alertmanager
      - {{ prometheus_alertmanager_storage_dir }}:/var/lib/alertmanager
    command:
      - '--config.file=/etc/alertmanager/config.yml'
      - '--storage.path=/var/lib/alertmanager'
{% endif %}
