#jinja2: trim_blocks: True, lstrip_blocks: True
# http://prometheus.io/docs/operating/configuration/

global:
  scrape_interval: {{ prometheus_global_scrape_interval }}
  scrape_timeout: {{ prometheus_global_scrape_timeout }}
  evaluation_interval: {{ prometheus_global_evaluation_interval }}

{% if prometheus_global_labels and prometheus_global_labels|count > 0 %}
  # Attach these extra labels to all timeseries collected by this Prometheus instance.
  external_labels:
{% for k,v in prometheus_global_labels.iteritems()  %}
    {{ k }}: "{{ v }}"
{% endfor %}
{% endif %}

  # Load and evaluate rules in this file every 'evaluation_interval' seconds. This field may be repeated.
{% if prometheus_rule_files is defined and prometheus_rule_files|count > 0 %}
rule_files:
{% for file in prometheus_rule_files %}
  - '{{ file }}'
{% endfor%}
{% endif %}

scrape_configs:
{{ prometheus_scrape_configs | to_nice_yaml(indent=2) }}
