#jinja2: trim_blocks: True, lstrip_blocks: True
# http://prometheus.io/docs/operating/configuration/

global:
  scrape_interval: {{ prometheus_global_scrape_interval }}
  scrape_timeout: {{ prometheus_global_scrape_timeout }}
  evaluation_interval: {{ prometheus_global_evaluation_interval }}

{% if prometheus_global_labels and prometheus_global_labels|count > 0 %}
  # Attach these extra labels to all timeseries collected by this Prometheus instance.
  external_labels:
{% for k,v in prometheus_global_labels.iteritems()  %}
    {{ k }}: "{{ v }}"
{% endfor %}
{% endif %}

  # Load and evaluate rules in this file every 'evaluation_interval' seconds. This field may be repeated.
rule_files:
  - '/etc/prometheus/alerts/*'


{% if prometheus_alertmanagers is defined and prometheus_alertmanagers|count > 0 %}
# alerting
alerting:
{{ prometheus_alertmanagers | to_nice_yaml | indent(2, True) }}
{% endif %}

scrape_configs:
{{ prometheus_scrape_configs | to_nice_yaml(indent=2) }}
